.Contact {
  color: white;
  background: linear-gradient(
    61deg,
    rgba(2, 94, 56, 1) 0%,
    rgba(33, 43, 71, 1) 100%
  );
  min-height: 100vh;
  position: relative;
}

.contact-content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
