.Experience {
  color: white;
  background: linear-gradient(
    61deg,
    rgba(2, 94, 56, 1) 0%,
    rgba(33, 43, 71, 1) 100%
  );
  min-height: 100vh;
}

.about-row-1 {
  height: 100vh;
  padding-top: 10vh;
  background: linear-gradient(
    61deg,
    rgba(2, 4, 94, 1) 0%,
    rgba(71, 33, 64, 1) 100%
  );
}

.about-row-2 {
  height: 100vh;
  background: linear-gradient(
    61deg,
    rgba(92, 32, 94, 1) 0%,
    rgba(71, 33, 64, 1) 100%
  );
}

.about-row-3 {
  height: 100vh;
  background: linear-gradient(
    61deg,
    rgba(2, 4, 2, 1) 0%,
    rgba(71, 33, 64, 1) 100%
  );
}

.nametitle {
  text-align: center;
  font-weight: bolder;
  font-size: 40px;
  margin-top: 50px;
}

.body-text {
  font-size: 18px;
  padding: 10px;
}

.headshot {
  margin: auto;
  margin-top: 100px;
}

/* setup for scroll-snap */
.container {
  overflow: auto;
  outline: 1px dashed lightgray;
}

.container.y {
  width: 100%;
  height: 100vh;
}

/* scroll-snap */
.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
}

.container > div {
  scroll-snap-align: center;
  background-image: url("./assets/bg1.jpeg");
}

.y.container > div {
  width: 100%;
  height: 100%;
}
