.Home {
  color: white;
  height: 100vh;
}

.Title {
  text-align: right;
  font-weight: bold;
  font-size: 70px;
  padding-top: 38vh;
  padding-left: 40px;
}

.button-contact {
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  color: white;
  background: none;
  border: solid 1px white;
  border-radius: 5px;
  transition: 0.3s;
}

.button-contact:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}

.body-text-home {
  font-size: 20px;
  text-align: right;
  padding-top: 10px;
}

.home-row-1 {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url("https://i.ibb.co/989vCzK/bg1.jpg");
  background-size: cover;
}

.home-row-2 {
  height: 100vh;
  background: linear-gradient(
    61deg,
    rgba(2, 94, 56, 1) 0%,
    rgba(33, 43, 71, 1) 100%
  );
}

.home-row-3 {
  height: 100vh;
  background: linear-gradient(
    61deg,
    rgba(2, 4, 94, 1) 0%,
    rgba(71, 33, 64, 1) 100%
  );
}

.column {
  float: left;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

/* setup for scroll-snap */
.container {
  overflow: auto;
  outline: 1px dashed lightgray;
}

.container.y {
  width: 100%;
  height: 100vh;
}

/* scroll-snap */
.y.mandatory-scroll-snapping {
  scroll-snap-type: y mandatory;
}

.container > div {
  scroll-snap-align: center;
  background-image: url("./assets/bg1.jpeg");
}

.y.container > div {
  width: 100%;
  height: 100%;
}
