.topnav {
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 63px;
  position: fixed;
  width: 100%;
  top: 0;
}

.topnav img {
  float: left;
  color: white;
  padding-left: 70px;
  transform: rotate(10deg);
}

.nav-links {
  width: auto;
  padding-right: 80px;
  padding-top: 3px;
  display: flex;
  float: right;
  list-style: none;
  align-items: right;
}

@media only screen and (max-width: 880px) {
  .nav-links {
    padding-right: 20px;
  }
  .topnav img {
    padding-left: 20px;
  }
}
