.Notfound {
  color: white;
  height: 100vh;
  background: linear-gradient(
    61deg,
    rgba(2, 4, 94, 1) 0%,
    rgba(71, 33, 64, 1) 100%
  );
  position: relative;
}

.Content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.four-oh-four {
  font-size: 100px;
  margin: 0;
}

.four-oh-four-message {
  font-size: 20px;
  margin-top: 0;
}
